body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    color: grey;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-display {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;

    border-radius: 5px;
}

#photo {
    padding-top: 17%;
}

.top-banner {
    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 3px;
    box-shadow: 10px 10px 40px gray;

}

.experience-area {
    background-image: url(pic/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#intro {
    border-left: 7px solid tomato;
}

#about {
    border-left: 7px solid blue;
}

#footer {
    text-align: center;
}